*{
	margin:0;
	padding: 0;
	border: 0;
}

div#site{
	background: #FFFFFF;
	width: 960px;
	height: 900px;
	margin: auto;
}

div#header_site{
	width: 960px;
	height: 348px;
	background-image: url("../img/header_background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	margin: auto;
}

div#conteudo{
	width: 960px;
	height: 540px;
	background-image: url("../img/bodyDiv_background.jpg");
}

div#slide{
	width: 518px;
	height: 385px;
	background: #00BFFF;
	float: right;
	margin-right: 40px;
	margin-top: 30px;
}

div#contato{
	width: 960px;
	height: 100px;
	background-color: rgba(175,238,238,.4);
	position: absolute;
	margin-top: 440px;
}

img#skype{
	margin-top: 15px;
	margin-left: 222px;
	position: absolute;
}

p#fonte_skype{
	color: #00BFFF;
	font-family: COURIER;
	font-style: italic;
	font-weight: bold;
	margin-top: 70px;
	margin-left: 186px;
	position: absolute;
}

img#gmail{
	margin-top: 15px;
	margin-left: 456px;
	position: absolute;
}

p#fonte_gmail{
	color: #FF0000;
	font-family: COURIER;
	font-style: italic;
	font-weight: bold;
	margin-top: 70px;
	margin-left: 366px;
	position: absolute;
}

img#fone{
	margin-top: 15px;
	margin-left: 696px;
	position: absolute;
}

p#fonte_fone{
	color: #008000;
	font-family: COURIER;
	font-style: italic;
	font-weight: bold;
	margin-top: 70px;
	margin-left: 666px;
	position: absolute;
}

div#rodape{
	width: 960px;
	height: 50px;
	background: #696969;
}

body{
	background-image: url("../img/body_background.jpg");
	background-repeat:  repeat-x;
	background-attachment: fixed;
}