@charset "UTF-8";
header {
	background-image: url("../img/_head_background1.jpg");	
	padding: 25%;	
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 50%;


}

body {
	/*background-color: rgba(175,27,27,1);*/
	background-image: url("../img/_body_background.jpg");
	background-repeat:  repeat-x;
	background-attachment: fixed;
}

div#wowslider-container0{
   
} 

footer {
	background-image: url("../img/rodape.jpg");
}

img#logo{
	width: 30%;
	height: 30%;
	position: absolute; 
	left: 50px; /* posiciona a 90px para a esquerda */ 
	top: 30px;

}